*.ipynb

*.ipynb_checkpoiints

*.csv

*.pyc
*.log
*.pot
__pycache__/
C:\Users\user\FElab_Makepf\FElab_Makepf\FElab_Makepf/wsgi.py
C:\Users\user\FElab_Makepf\FElab_Makepf\FElab_Makepf/settings.py
db.sqlite3
db.sqlite3-journal
media
