{% extends 'FElab_app/base.html' %}

{% block content %}
{% load static %}
<head>
    <script type='text/javascript' src="{% static 'js/portfolio_backtest.js' %}"></script>
</head>
<div class="header" style="height:300px;position:relative;display:flex;">
    <div style="width:30%;display:flex;justify-content:center;">
        <image src="/static/images/user.png" style="width:200px;height:200px;top:50%;position:absolute;transform:translateY(-50%);margin-left: 30px;"></image>
    </div>
    <div class="User_info" style="color:white; font-family: 'Nanum Gothic', sans-serif;">
        <div style="position:relative; top:50%;transform:translateY(-50%);">
            <h2 style="width:100%;">USER</h2>
            <p style="width:100%;">님의 포트폴리오</p>
        </div>
    </div>
</div>
<div style="display:flex;justify-content:center; padding:40px;background-color: white;">
    <div class="commentBox" style="width:90%;position:relative;">
        <span style='font-size: 40px;color:#46b3e6;'>백테스트</span>는 과거로 돌아가서 특정 투자전략을 사용했다면 어느 정도의 수익률을 벌 수 있었을지 시뮬레이션 돌려보는 과정을 뜻합니다. 예를 들어 10년 전 매달 삼성전자 주식을 10주씩 샀다면 지금쯤 수익률은 어떨까? 하는 궁금증을 해결할 수 있고
    평소 사용해보고 싶었던 투자전략들을 과거 데이터를 활용해서 해보는 것입니다.
    </div>
</div>
<div style="display:flex;justify-content:center;width:100%;height:500px;margin: 0;background-color: #fbfbfd;">
    <div class="backtest_step">
        <div class="iconBox">
            <img src='/static/images/1.png' class='backtest_icon'>
        </div>
        <h3>자산 선택</h3>
        <input id="comboBox" onfocus="if(this.value == '종목 검색') { this.value = ''; }" value="종목 검색" style='background-color: #eeeeee;'/>
        <button id="putin_btn" style="border-radius:5px;width:60px;background-color:#8C0000;height:30px;bottom:0;border:none;color:white;">담기</button>
        <div id="assetsBox" style='margin-top:30px;'>
        </div>
    </div>
    <div class="backtest_step">
        <div class="iconBox">
            <img src='/static/images/2.png' class='backtest_icon'>
        </div>
        <h3>배분 비중</h3>
        <div class="opt_report" style="width:100%; height:200px;font-size:10px;">
            <div id="opt_report_chart"></div>
        </div>
        <div id="weightBox" style='margin-top:30px;'>
        </div>
    </div>
    <div class="backtest_step">
        <div class="iconBox">
            <img src='/static/images/3.png' class='backtest_icon'>
        </div>
        <h3>투자 기간</h3>
        <div>
            <label for="from">시작</label>
            <input type="text" class="input_date" id="from" name="from"/>
        </div>
        <div>
            <label for="to">종료</label>
            <input type="text" class="input_date" id="to" name="to"/>
        </div>
        <div>
            <label for='rebalancing_month'>리밸런싱 주기</label>
            <select id='rebalancing_month'>
                <option value='1'>1개월</option>
                <option value='2'>2개월</option>
                <option value='3'>3개월</option>
                <option value='4'>4개월</option>
                <option value='5'>5개월</option>
                <option value='6'>6개월</option>
                <option value='7'>7개월</option>
                <option value='8'>8개월</option>
                <option value='9'>9개월</option>
                <option value='10'>10개월</option>
                <option value='11'>11개월</option>
                <option value='12'>12개월</option>
            </select>
        </div>
        <div>
            <label for=''>시작 금액</label>
            <input type='text' class='input_amount' id='start_amount'/>
        </div>
    </div>
    <div class="backtest_step">
        <div class="iconBox">
            <img src='/static/images/4.png' class='backtest_icon'>
        </div>
        <h3>투자 전략</h3>
        <div>
            <label><input type='radio' name='strategy' value='GMV' checked/>GMV 포트폴리오</label>
            <label><input type='radio' name='strategy' value='MSR'/>Maximum Sharpe ratio 포트폴리오</label>
        </div>
    </div>

    
</div>
<div style='margin-top:50px;display: flex;justify-content: center;'>
    <button style='width:85%; height:50px;border-radius: 10px;background-color: #8C0000;border:none;color:white;' id='backtest_btn'>백테스트 시작</button>
</div>

<div class='backtest_result'>
    <div class='bt_left'>

    </div>
    <div class='bt_right'>
        
    </div>
</div>

<footer>
    
</footer>
{% endblock %}

