
{% extends 'FElab_app/base.html' %}

{% block content %}
{% load static %}
<head>
    <script type='text/javascript' src="{% static 'js/portfolio_optimize.js' %}"></script>
</head>
<div class="header" style="height:300px;position:relative;display:flex;">
    <div style="width:30%;display:flex;justify-content:center;">
        <image src="/static/images/user.png" style="width:200px;height:200px;top:50%;position:absolute;transform:translateY(-50%);margin-left: 30px;"></image>
    </div>
    <div class="User_info" style="color:white; font-family: 'Nanum Gothic', sans-serif;">
        <div style="position:relative; top:50%;transform:translateY(-50%);">
            <h2 style="width:100%;">USER</h2>
            <p style="width:100%;">님의 포트폴리오</p>
        </div>
    </div>
</div>
    <div style="display:flex;justify-content:center; padding:40px;background-color: white;border-bottom: 1px solid #eeeeee;margin:0 40px;">
    <div class="commentBox" style="width:90%;position:relative;">
        <span style='font-size: 40px;color:#46b3e6;'>포트폴리오 이론</span>은 해리 마코위츠(Harry Max Markowitz)에 의해 체계화된 이론으로, 자산을 분산투자하여 포트폴리오를 만들게 되면 분산투자 전보다 위험을 감소시킬 수 있다는 이론입니다.
        투자자산의 가치는 그 투자로부터 기대되는 수익률이 클수록 커지며, 반면에 위험이 클수록 작아집니다. 지배 원리란 같은 위험 하에서는 기대 수익률이 높은 것이, 같은 기대수익률 하에서는 위험이 작은 것이 그렇지 않은 투자대상을 지배한다는 것입니다. 이 지배원리에 입각하여 선택되는 투자안이 <span style='font-size: 40px;color:#46b3e6;'>효율적 투자대상</span>이 됩니다.
    </div>
</div>
<div style="display:flex;justify-content:space-between;height:800px;margin: 0 30px; padding : 80px 0;border-bottom:1px solid #eeeeee;font-family: 'AppleSDGothicNeoM';">
    <div class='bt_left'>
        <div class="graph_container">
            <div class="searchBox">
                <input id="comboBox" onfocus="if(this.value == '종목 검색') { this.value = ''; }" value="종목 검색" />
                <image src="/static/images/loupe.png" style="width:30px;height:30px;"></image>
                <button id="putin_btn" style="border-radius:5px;width:60px;background-color:#8C0000;height:30px;bottom:0;border:none;color:white;">담기</button>
            </div>
            <div class="contentsBox" style="height: 600px;cursor:default;overflow-y:auto;overflow-x: hidden;">
                <div id="controls" style="width: 100%; overflow: hidden;">
                    <div style="float: left; margin-left: 15px;">
                        From: <input type="text" id="fromfield" class="amcharts-input" />
                        To: <input type="text" id="tofield" class="amcharts-input" />
                    </div>
                    <div style="float: right; margin-right: 15px;">
                        <button id="b1m" class="amcharts-input">1m</button>
                        <button id="b3m" class="amcharts-input">3m</button>
                        <button id="b6m" class="amcharts-input">6m</button>
                        <button id="b1y" class="amcharts-input">1y</button>
                        <button id="bytd" class="amcharts-input">YTD</button>
                        <button id="bmax" class="amcharts-input">MAX</button>
                    </div>
                </div>
                <div id="chartdiv"></div>
            </div>
        </div>
    </div>
    <div class='bt_right'>
        <div style='display:flex;'>
            <div class="opt_task">
                <h3 style="margin-top:10px;border-bottom:1px solid #eeeeee;">담긴 종목</h3>
                <div id="assetsBox">
                </div>
            </div>
            <div class="opt_task">
                <h3 style="margin-top:10px;border-bottom:1px solid #eeeeee;">INPUT</h3>
                <p>사용할 과거 데이터 기간 설정</p>
                <label for="from">시작</label>
                <input type="text" class="input_date" id="from" name="from" autocomplete="off">
                <label for="to">종료</label>
                <input type="text" class="input_date" id="to" name="to" autocomplete="off">
                <p style="margin-top:10px;">포트폴리오 모델</p>
                <div>
                    <input type="radio" id="gmv" name="strategy" value="gmv" checked /><label for="gmv">Global Minimum Variance</label>
                </div>
                <div>
                    <input type="radio" id="ms" name="strategy" value="ms"  /><label for="ms">Maximum Sharpe Ratio</label>
                </div>
                <div>
                    <input type="radio" id="rp" name="strategy" value="rp"  /><label for="rp">Risk Parity</label>
                </div>
            </div>
        </div>
        <div style='height:60px;margin:35px 0 0 30px;display:flex;justify-content: center;'>
            <button id="optimize_btn" style="width:100%;border-radius:5px;background-color:#8C0000;border:none;color:white;" >최적화</button>
        </div>
        
    </div>
    
</div>
 <div class="optimize_result">
    <div class='bt_left'>
        <div class='graph_title'>
            <h2>효율적 투자선</h2>
        </div>
        <div class='graph_comment'>
            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                 when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                 It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                 It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages</span>
        </div>
         <div class="contentsBox" style="height: 400px;cursor:default;margin-right:30px;">
            <canvas id='efficient_frontier_graph' style="width: 100%;height: 100%;"></canvas>
         </div>
    </div>
    <div class='bt_right'>
        <div class='graph_title'>
            <h2>Global Minimun Variance</h2>
        </div>
        <div class='graph_comment'>
            <span>The global minimum volatility portfolio, or GMV portfolio, is the portfolio with the lowest standard deviation (risk) and the highest return for the given risk level.

                Returns are very hard to predict, but volatilities and correlations tend to be more stable over time. This means that the GMV portfolio often outperforms the MSR portfolios out of sample even though the MSR would outperform quite significantly in-sample. Of course, out of sample results are what really matters in finance.</span>
        </div>
        <div class="opt_report" style="width:100%; height:200px;font-size:10px;">
            <div id="opt_report_2chart"></div>
        </div>
        <table class='table optimize_table'>
            <thead>
                <tr>
                    <th>자산 배분</th>
                    <th class='numberCell'>Allocation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>US Large Cap</td>
                    <td class="numberCell">40.00%</td>
                </tr>
                <tr>
                    <td> Asset2</td>
                    <td class='numberCell'>60.00%</td>
                </tr>
            </tbody>

        </table>

       <button onclick="tobacktest()" id="tobacktest_btn" style="border-radius:5px;width:100%;background-color:#8C0000;height:60px;margin-bottom:5px;border:none;color:white;">
           최적 비중으로 백테스트 하기
       </button>
    </div>
</div>
<footer>

</footer>
{% endblock %}
