{% extends 'FElab_app/base.html' %}

{% block content %}
{% load static %}
<head>
    <script type='text/javascript' src="{% static 'js/textmining.js' %}"></script>
    <!--<script src="bower_components/jqcloud2/dist/jqcloud.min.js"></script>
    <link rel="stylesheet" href="bower_components/jqcloud2/dist/jqcloud.min.css">-->
</head>
<div style="display:flex;justify-content:center; padding:40px;background-color: white;border-bottom: 1px solid #eeeeee;margin:0 40px;">
    <div class="commentBox" style="width:90%;position:relative;">
        <span style='font-size: 40px;color:#06c;'>텍스트마이닝</span>은 비정형 데이터 및 반정형 데이터에 대하여 자연어 처리 기술과 문서 처리 기술을 적용하여 유용한 정보를 추출, 가공하는 목적으로 하는 기술입니다.
    </div>
</div>
<div style='display:flex; justify-content: center;'>
    <a class="category clicked" href="#">뉴스 분석</a>
    <a class="category" href="#">기업 분석</a>
</div>
<div class="news_container">
    <div class="bt_left">
        <div style='margin: 50px; text-align: center;' >
            Bi-LSTM 과 BERT 모델을 사용하여 뉴스에서 나온 텍스트 데이터와 코스피 종가 데이터를 연결 등등
        </div>
        <h3 style='text-align: center;margin: 50px;'>수집된 뉴스</h3>

        <div class='news_wrap' style="display: flex;justify-content: center;font-size:15px;height:300px;">
            <div id="news_board" style='overflow-y: auto;overflow-x:hidden;'>

            </div>
        </div>
    </div>
    <div class="bt_right">
        <div id="word-cloud"></div>
    </div>    
</div>

{% endblock %}